{% extends '../../base.html' %}
{% load static %}

{% block content %}
<style>
    label{
        color: #fff !important;
    }
    .bg-danger{
        background: #16243e !important;
    }
    .btn-primary{
        background: linear-gradient(90deg, #004d6e 70%, #00accc 100%) !important;
        border-color: #004d6e !important;
    }
    .errorlist {
        color: rgb(241, 4, 4);
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
<main>
    <!-- about breadcrumb area start -->
    <section class="breadcrumb__area pt-165 pb-150 p-relative z-index-1 fix" data-bg-color="#16243E">
        <div class="breadcrumb__bg" data-background="{% static 'frontend/assets/img/breadcrumb/bg.png' %}"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumb__content">
                    <h3 class="breadcrumb__title">About Us</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb__content">
                        <div class="breadcrumb__list text-center text-sm-end">
                            <span><a href="{% url 'frontend:home' %}">Home</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about breadcrumb area end -->

    <div class="container py-5">
      <div class="row justify-content-center align-items-center my-3">
        <div class="col-md-8">
          <div class="card bg-danger p-3">
            <h3 class="text-white">Forgot your password?</h3>
            <p class="text-white">Enter your email address and we'll send you a link to reset your password.</p>
            
            <form method="post" class="js-submit-spinner">
              {% csrf_token %}
              <!-- <label>Email:</label><br> -->
              <input type="email" name="email" placeholder="Enter Email" required><br><br>
              <button type="submit" class="btn btn-primary w-50">
                <span class="btn-text">Send Reset Link </span>
              </button>
            </form>
          </div>
          
        </div>
      </div>
    </div>

    
    <!-- cta area start -->
    <section class="tp-cta-area p-relative">
        <div class="tp-cta-bg"></div>
        <div class="container">
            <div class="tp-cta-bg-wrapper p-relative" data-background="{% static 'frontend/assets/img/cta/bg-shape.png' %}">
                <div class="row">
                    <div class="col-lg-6">
                    <h3 class="tp-cta-title">Get notified about the event! <br> Subscribe today</h3>
                    </div>
                    <div class="col-lg-6">
                    <div class="tp-cta-email p-relative">
                        <input type="email" placeholder="Email Address">
                        <button> <span><i class="fa-solid fa-envelope"></i> Subscribe</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta area end -->
  
</main>
{% endblock %}
