{% extends '../../base.html' %}
{% load static %}

{% block content %}
<style>
    label{
        color: #fff !important;
    }
    .bg-danger{
        background: #16243e !important;
    }
    .btn-primary{
        background: linear-gradient(90deg, #004d6e 70%, #00accc 100%) !important;
        border-color: #004d6e !important;
    }
    .errorlist {
        color: rgb(241, 4, 4);
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
<main>
    <div class="container py-5">
      <div class="row justify-content-center align-items-center my-3">
        <div class="col-md-8">
          <div class="card bg-danger px-3 pb-3">
            <h3 class="text-white">Check your email</h3>
            <p class="text-white">
              If an account with that email exists, we've sent a password reset link to it.
              Please check your inbox and spam folder.
            </p>
            <a href="{% url 'account:login' %}" class="text-info btn btn-primary w-50">Back to login</a>
          </div>
          
        </div>
      </div>
    </div>
<!-- cta area start -->
    <section class="tp-cta-area p-relative">
        <div class="tp-cta-bg"></div>
        <div class="container">
            <div class="tp-cta-bg-wrapper p-relative" data-background="{% static 'frontend/assets/img/cta/bg-shape.png' %}">
                <div class="row">
                    <div class="col-lg-6">
                    <h3 class="tp-cta-title">Get notified about the event! <br> Subscribe today</h3>
                    </div>
                    <div class="col-lg-6">
                    <div class="tp-cta-email p-relative">
                        <input type="email" placeholder="Email Address">
                        <button> <span><i class="fa-solid fa-envelope"></i> Subscribe</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta area end -->
  
</main>
{% endblock %}