{% extends '../../base.html' %}
{% load static %}

{% block content %}
<style>
    label{
        color: #fff !important;
    }
    .bg-danger{
        background: #16243e !important;
    }
    .btn-primary{
        background: linear-gradient(90deg, #004d6e 70%, #00accc 100%) !important;
        border-color: #004d6e !important;
    }
    .errorlist {
        color: rgb(241, 4, 4);
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

<main>
    <div class="container py-5">
      <div class="row justify-content-center align-items-center my-3">
        <div class="col-md-5">
          <div class="card bg-danger p-3">
            <h3 class="text-white">Set a New Password</h3>

              {% if error %}
                <p style="color:red;">{{ error }}</p>
              {% endif %}

              <form method="post" class="js-submit-spinner">
                {% csrf_token %}
                <label>New Password:</label><br>
                <input type="password" name="password1" required><br><br>

                <label>Confirm New Password:</label><br>
                <input type="password" name="password2" required><br><br>

                <button type="submit" class="btn btn-primary w-50">
                  <span class="btn-text">Reset Password </span>
                </button>
                
              </form>
          </div>
          
        </div>
      </div>
    </div>
<!-- cta area start -->
    <section class="tp-cta-area p-relative">
        <div class="tp-cta-bg"></div>
        <div class="container">
            <div class="tp-cta-bg-wrapper p-relative" data-background="{% static 'frontend/assets/img/cta/bg-shape.png' %}">
                <div class="row">
                    <div class="col-lg-6">
                    <h3 class="tp-cta-title">Get notified about the event! <br> Subscribe today</h3>
                    </div>
                    <div class="col-lg-6">
                    <div class="tp-cta-email p-relative">
                        <input type="email" placeholder="Email Address">
                        <button> <span><i class="fa-solid fa-envelope"></i> Subscribe</span></button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta area end -->
  
</main>
{% endblock %}