{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="other_content">
	<div class="container py-5">
		<div class="row align-item-center justify-content-center">
			<div class="col-md-4">
				<form method="POST" class="js-submit-spinner">
					{% csrf_token %}
					<div class="card shadow-lg">
						{% include '../alerts/messages_alert.html' %}
                        {% include "../alerts/form_errors.html" with form=form %}
						<h5 class="text-center text-white py-1 bg-primary">Change Your Password</h5>
						<div class="card-body">
							<hr>
							{% for f in form %}
								{{f.label}}
								{{f}}
							{% endfor %}
							<hr>							
							 <button type="submit" class="btn btn-primary w-100 fw-bold">
                                    <span class="btn-text">Submit</span>
                            </button>
						</div>
					</div>
				</form>
			</div>
		</div>

		
	</div>
</div>
{% endblock %}