{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
          <a class="navbar-brand" href="#">STANBEX</a>
          <div class="d-none d-md-block">Global Bank</div>
          <!-- <i class="fa-solid fa-bars ms-5 my_menu_bar"></i> -->
          <div id="google_translate_element" class="ms-md-5 ms-1"></div>
      </div>
      
      <div class="d-flex align-items-center me-md-5 ">
        <!-- <img
          src="{{request.user.profile.picture.url}}"
          alt="Profile"
          class="profile-image me-2 d-none d-md-block"
        /> -->
        <span></span>
        <i class="fa-solid fa-bars my_menu_bar d-md-none " id="menu_bar"></i>
        <i class="fa-solid fa-xmark my_menu_bar d-none d-md-none" id="menu_bar_close"></i>
        <!-- <div id="google_translate_element" class="ms-md-5 ms-1"></div> -->
      </div>
    </div>
</nav>


<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <!-- <div class="clock-placeholder">
        <img src="{{request.user.profile.picture.url}}" alt="profile image">
    </div> -->
    {% if request.user.status == 'suspended' %}
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal" class="active"><i class="fa-solid fa-house me-2"></i>Dashboard</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa-regular fa-file me-2"></i>E-Statement</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa-solid fa-wallet me-2"></i>Balance Inquiry</a>
      
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa-solid fa-money-bill-transfer me-2"></i>Funds Transfer</a>
      
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa fa-sign-language me-2"></i>Apply for Loans</a>
      <a href=""><i class="fa fa-phone me-2"></i>Get Help</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa fa-upload me-1"></i>Update Picture</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#suspendedModal"><i class="fa fa-unlock-alt me-2"></i>Change Password</a>
      <a href="{% url 'account:logout' %}" class="logout_btn fw-bold">Logout <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i></a>
    {% else %}
      <a href="{% url 'customer:dashboard' %}" class="active"><i class="fa-solid fa-house me-2"></i>Dashboard</a>
      <a href="{% url 'customer:account_statement' %}"><i class="fa-regular fa-file me-2"></i>E-Statement</a>
      <a href="{% url 'customer:dashboard' %}"><i class="fa-solid fa-wallet me-2"></i>Balance Inquiry</a>
      
      <a href="{% url 'customer:local_transfer' %}"><i class="fa-solid fa-money-bill-transfer me-2"></i>Funds Transfer</a>
      <!-- <a href="{% url 'customer:local_transfer' %}" data-bs-toggle="modal" data-bs-target="#transaferType"><i class="fa-solid fa-money-bill-transfer me-2"></i>Funds Transfer</a> -->
      
      <a href=""><i class="fa fa-sign-language me-2"></i>Apply for Loans</a>
      <a href=""><i class="fa fa-phone me-2"></i>Get Help</a>
      <a href=""><i class="fa fa-upload me-1"></i>Update Picture</a>
      <a href=""><i class="fa fa-unlock-alt me-2"></i>Change Password</a>
      <a href="{% url 'account:logout' %}" class="logout_btn fw-bold">Logout <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i></a>
    {% endif %}
</div>
