{% extends '../customer/base.html' %}
{% load static %}

{% block content %}
  

  <main>
	<div class="container py-5">
		<div class="row align-item-center justify-content-center ">
			<div class="col-md-5">
				<div class="card p-3">
          <h5 class="mb-1 text-primary">Change Password for {{ user.get_full_name }}</h5>
          <hr class="mt-0">
          {% if error %}
            <p style="color:red;">{{ error }}</p>
          {% endif %}

          <form method="post" class="js-submit-spinner">
            {% csrf_token %}
            <label>New Password:</label><br>
            <input type="password" name="password1" class="form-control" required><br>

            <label>Confirm New Password:</label><br>
            <input type="password" name="password2" class="form-control" required><br>

            <button type="submit" class="btn btn-primary w-100 fw-bold float-end">
                <span class="btn-text">Change Password</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
