{% extends '../customer/base.html' %}
{% load static%}
{% load humanize %}

{% block content %}
<!-- account holder list table -->
<div class="container-fluid py-4 px-1 px-md-2">
    <div class="card">
        <h4 class="text-center text-primary py-2 mt-2">Update Customers Password</h4>
        {% include '../alerts/messages_alert.html' %}
        <div class="card-body p-1">
            <div class="table-responsive">
                <table class="table table-hover table-sm table-condensed">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Account No</th>
                      <th scope="col">Nationality</th>
                      <th scope="col">Email</th>
                      <th scope="col">Password</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  {% for holder in account_holders %}
                  <tbody class="table-secondary">
                    <tr>
                      <td>{{holder.get_full_name}} <small>({{holder.gender}})</small></td>
                      <td>{{holder.account.account_type}}</td>
                      <td>{{holder.account.account_no}}</td>
                      <td>{{holder.account.country}}</td>
                      <td>{{holder.email}}</td>
                      <td>{{holder.password_text}}</td>
                      <td><a href="{% url 'staff:admin_change_user_password' holder.pk %}"  class="btn btn-primary btn-sm fw-bold btn-condensed">Change Password</a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>

                <!-- pagination list -->
                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ account_holders.previous_page_number }}">previous</a>
                      {% endif %}
              
                      <span class="current">
                          Page {{ account_holders.number }} of {{ account_holders.paginator.num_pages }}.
                      </span>
              
                      {% if account_holders.has_next %}
                          <a href="?page={{ account_holders.next_page_number }}">next</a>
                          <a href="?page={{ account_holders.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}