{% load static %}

<!-- footer area start -->
<footer class="tp-footer-area pt-80 p-relative z-index-1" data-bg-color="#16243E">
    <div class="tp-footer-bg-shape">
        <img src="{% static 'frontend/assets/img/footer/bg-shape.png' %}" alt="">
    </div>
    <div class="tp-footer-main-area tp-footer-border">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="tp-footer-widget tp-footer-col-1 mb-50">
                    <div class="tp-footer-logo mb-20">
                    <a href="index.html"> <img src="{% static 'frontend/logo/logo1-white.svg' %}" alt="footer-logo"></a>
                    </div>
                    <div class="tp-footer-widget-content">
                        <p>Payment processing is a critical component of any business that sells goods or se Payment processing is a critical component of any.</p>
                        <!-- <div class="tp-footer-widget-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                        </div> -->
                    </div>
                </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6">
                <div class="tp-footer-widget tp-footer-col-2 mb-50">
                    <h3 class="tp-footer-widget-title">Quick links</h3>
                    <div class="tp-footer-widget-content">
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div> 
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-footer-widget tp-footer-col-3 mb-50">
                    <h3 class="tp-footer-widget-title">Popular Post</h3>
                    <div class="tp-footer-widget-content">
                        <div class="tp-footer-widget-item">
                            <h4 class="tp-footer-widget-item-title"><a href="">Ished fact that a reader</a></h4>
                            <span><i class="fa-regular fa-calendar-days"></i> October 19, 2024</span>
                        </div>
                        <div class="tp-footer-widget-item">
                            <h4 class="tp-footer-widget-item-title"><a href="">Will distrol acted desig </a></h4>
                            <span><i class="fa-regular fa-calendar-days"></i> jan 19, 2025</span>
                        </div>
                        <div class="tp-footer-widget-item">
                            <h4 class="tp-footer-widget-item-title"><a href="">Transforming Business For You</a></h4>
                            <span><i class="fa-regular fa-calendar-days"></i> June 19, 2025</span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="tp-footer-widget tp-footer-col-4 mb-50">
                    <h3 class="tp-footer-widget-title">Contact us</h3>
                    <div class="tp-footer-widget-content">
                        <div class="tp-footer-widget-contact">
                            <div class="tp-footer-widget-contact-inner">
                            <a href="https://maps.app.goo.gl/VX8K5AcShxoDNgpX7" target="_blank"><i class="fa-sharp fa-solid fa-location-dot"></i> 147 Aptos Ave, San Francisco, CA 94127, United States</a>
                            </div>
                            <div class="tp-footer-widget-contact-inner">
                            <a href="tel:123456765"><i class="fa-solid fa-phone"></i> (380) 278-4155</a>
                            </div>
                            <div class="tp-footer-widget-contact-inner">
                            <a href="mailto:info@example.com" style="font-size: 14px !important;"><i class="fa-solid fa-envelope"></i>support@stanbexglobalonline.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-footer-copyright-area p-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                <div class="tp-footer-copyright-inner">
                    <p>© Stanbex Global 2023 | All Rights Reserved</p>
                </div>
                </div>
                <div class="col-md-12 col-lg-6">
                <div class="tp-footer-copyright-inner text-lg-end">
                    <a href="{% url 'frontend:about' %}">About us</a>
                    <a href="{% url 'account:register' %}">Register</a>
                    <a href="/">Services</a>
                    <a href="{% url 'account:login' %}">Login</a>
                    <a href="{% url 'frontend:contact' %}">Contact Us</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->