
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stanbex Global</title>
</head>
<body>
		<h2>Hello {{ name }},</h2>
        <p>We regret to inform you that a pending transaction of <strong>{{currency}}{{amount}} </strong> which you initiated on {{date}} has been <strong>Declined</strong>. Please check your bank statement for more information.</p>
			   
	    <h5>Yours in Service,<br>
			Mr. Michael J. Brown<br>
			Foreign Operation Manager(SBGB)<br>
			147 Aptos Ave, San Francisco, CA 94127, United States<br>
			Email: support@stanbexglobalonline.com</h5>
				    <br>
				    <br>		    
	    <p>
			*************************WARNING*****************************
			This message was sent from SBGB. It is designated for intended recipient only. If you have received this email in error, you should immediately discard it without transferring or storing any of it's content. Anyone caught not abiding with these rules will be made to face the law as all communications are officially meant for SBGB customers only. <br>SBGB Copyright ©2025 All rights reserved.
		</p>

</body>
</html>