
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SBGB</title>
</head>
<body>
		<h4>Hello {{ name }},</h4>
	
	
		<p>Please be informed that a transaction of <strong>{{currency}}{{amount}}</strong> which you initiated today being {{date}} <strong>Failed</strong>. Please try again or contact us for more details<br>
		</p>
	
			    	   
	    <h5>Yours in Service,<br>
			Mr. John A. Michael<br>
			Foreign Operation Manager(SBGB)<br>
			147 Aptos Ave, San Francisco, CA 94127, United States<br>
			Email: support@stanbexglobalonline.com</h5>
				    <br>
				    <br>	    
	    <p>
			*************************WARNING*****************************
			This message was sent from SBGB. It is designated for intended recipient only. If you have received this email in error, you should immediately discard it without transferring or storing any of it's content. Anyone caught not abiding with these rules will be made to face the law as all communications are officially meant for SBGB customers only. <br>SBGB Copyright ©2021 All rights reserved.
		</p>

</body>
</html>