{% extends '../base.html' %}

{% load static %}

{% block content %}
<div class="other_content">
	<div class="container py-5">
		<div class="row align-item-cnter justify-content-center py-5">
			<div class="col-md-6">
				<div class="card">
					<h5 class="text-center text-warning pt-3">Transaction Pending</h5>
					<hr>
					<h5 class="px-4">Please be informed that your recent transaction is currently pending.</h5>
					<p class="px-4">
					This is a security measure, and your transaction details are under review. A decision will be made within 48 hours, after which the transaction may be approved or declined.</p>
					<hr>
					<a href="{% url 'customer:dashboard' %}" class="btn btn-secondary fw-bold w-100 text-white btn-sm"><i class="fa-solid fa-arrow-left"></i> Go back to Dashboard</a>
				</div>		
			</div>		
		</div>
	</div>
</div>
{% endblock %}